<!-- Events Start -->
<section class="section" id="events">
    <div class="events">
        <div class="events-wrapper">
            <div class="events-item">
                <div class="section-header">
                    <h5 class="section-label">Always Tasty Burger</h5>
                    <h2 class="section-title">Choose & Enjoy</h2>
                    <p class="section-subtitle">
                        Burgers at a good price, rich, and of good quality. order yours at home and it will be coming to you with a shipping discount
                    </p>
                </div>
                <img src="assets/img/banner/event_1.jpg" alt="" class="events-item-image" />
            </div>
            <div class="events-item">
                <div class="section-header">
                    <h5 class="section-label">Always Tasty</h5>
                    <h2 class="section-title">Choose & Enjoy</h2>
                    <p class="section-subtitle">
                        Burgers at a good price, rich, and of good quality. order yours at home and it will be coming to you with a shipping discount
                    </p>
                </div>
                <img src="assets/img/banner/event_1.jpg" alt="" class="events-item-image" />
            </div>
            <div class="events-item">
                <div class="section-header">
                    <h5 class="section-label">Always</h5>
                    <h2 class="section-title">Choose & Enjoy</h2>
                    <p class="section-subtitle">
                        Burgers at a good price, rich, and of good quality. order yours at home and it will be coming to you with a shipping discount
                    </p>
                </div>
                <img src="assets/img/banner/event_1.jpg" alt="" class="events-item-image" />
            </div>
        </div>
    </div>
</section>
<!-- Events End -->