<!-- Menu Slider Start -->
<section class="section" id="menu">
    <div class="section-header text-center">
        <h5 class="section-label label">Always Tasty Burger</h5>
        <h2 class="section-title">Choose & Enjoy</h2>
        <p class="section-subtitle text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br />
            Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
        </p>
    </div>

    <div id="menu-slider" class="menu-slider">
        <div class="menu-slider-item">
            <div class="menu-slider-item-image">
                <img src="assets/img/banner/menu_3.png" alt="" class="menu-slider-item-burger" />
                <!--                    <img src="assets/img/shadow.png" alt="" class="menu-slider-item-shadow" />-->
            </div>
            <div class="menu-slider-item-desc">
                <h4 class="menu-slider-item-title">Burger 1</h4>
                <p class="menu-slider-item-subtitle">double meat burger, bacon, american cheese, ketchup, jalapeño</p>
                <a href="#contact" class="page-scroll button">Order Now</a>
            </div>
        </div>
        <div class="menu-slider-item">
            <div class="menu-slider-item-image">
                <img src="assets/img/banner/menu_2.png" alt="" class="menu-slider-item-burger" />
                <!--                    <img src="assets/img/shadow.png" alt="" class="menu-slider-item-shadow" />-->
            </div>
            <div class="menu-slider-item-desc">
                <h4 class="menu-slider-item-title">Burger 2</h4>
                <p class="menu-slider-item-subtitle">chicken burger, mayonnaise and ketchup</p>
                <a href="#contact" class="page-scroll button">Order Now</a>
            </div>
        </div>
        <div class="menu-slider-item">
            <div class="menu-slider-item-image">
                <img src="assets/img/banner/menu_1.png" alt="" class="menu-slider-item-burger" />
                <!--                    <img src="assets/img/shadow.png" alt="" class="menu-slider-item-shadow" />-->
            </div>
            <div class="menu-slider-item-desc">
                <h4 class="menu-slider-item-title">Burger 3</h4>
                <p class="menu-slider-item-subtitle">double meat burger, cheese, bacon, onion</p>
                <a href="#contact" class="page-scroll button">Order Now</a>
            </div>
        </div>
        <div class="menu-slider-item">
            <div class="menu-slider-item-image">
                <img src="assets/img/banner/menu_3.png" alt="" class="menu-slider-item-burger" />
                <!--                    <img src="assets/img/shadow.png" alt="" class="menu-slider-item-shadow" />-->
            </div>
            <div class="menu-slider-item-desc">
                <h4 class="menu-slider-item-title">Burger 4</h4>
                <p class="menu-slider-item-subtitle">double meat burger, double cheese, bacon, onion, salad</p>
                <a href="#contact" class="page-scroll button">Order Now</a>
            </div>
        </div>
        <div class="menu-slider-item">
            <div class="menu-slider-item-image">
                <img src="assets/img/banner/menu_2.png" alt="" class="menu-slider-item-burger" />
                <!--                    <img src="assets/img/shadow.png" alt="" class="menu-slider-item-shadow" />-->
            </div> 
            <div class="menu-slider-item-desc">
                <h4 class="menu-slider-item-title">Burger 5</h4>
                <p class="menu-slider-item-subtitle">chicken burger, mayonnaise and ketchup</p>
                <a href="#contact" class="page-scroll button">Order Now</a>
            </div>
        </div>
        <div class="menu-slider-item">
            <div class="menu-slider-item-image">
                <img src="assets/img/banner/menu_1.png" alt="" class="menu-slider-item-burger" />
                <!--                    <img src="assets/img/shadow.png" alt="" class="menu-slider-item-shadow" />-->
            </div>
            <div class="menu-slider-item-desc">
                <h4 class="menu-slider-item-title">Burger 6</h4>
                <p class="menu-slider-item-subtitle">double meat burger, cheese, bacon, onion</p>
                <a href="#contact" class="page-scroll button">Order Now</a>
            </div>
        </div>
    </div>
</section>
<!-- Menu Slider End -->