<!-- Banner Start -->
<div id="banner" class="banner">
    <div class="banner-slider">
        <div class="banner-slider__item" *ngFor="let info of burgers">
            <div class="banner-slider__text custom-primary">
                <h3 class="banner-subtitle" data-aos="fade-up">{{info.nombre}}</h3>
                <h1 class="banner-title" data-aos="fade-up" data-aos-duration="1800">Special <span>Burger</span></h1>
            </div>
            <div class="banner-slider__media">
                <img src="assets/img/banner/1.png" alt="" class="banner-image" data-aos="zoom-in" />
                <div class="banner-badge" data-aos="fade-right">
                    <div class="banner-price">{{info.descuento}}<span>Off</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->