<!-- Mobile Menu Start -->
<nav class="cd-nav-container burger-menu" id="cd-nav">
    <div class="rmenu_header">
        <div class="rmenu_header-left">
            <a href="/" class="rmenu_logo" title="">
                <img src="assets/img/logo.png" alt="logo" />
            </a>
        </div>
        <div class="rmenu_header-right">
            <div class="call-delivery custom-primary">
                <span class="call-delivery-label">Call for Delivery</span>
                <a href="https://web.whatsapp.com/send?phone=+4450687474&text=Hello Burger House ✋&source&data&app_absent"
                   class="call-delivery-number" target="_blank">+4 450 68 7474</a>
            </div>
            <div class="cd-close-nav">
                <img src="assets/img/icons/close.svg" alt="close" />
            </div>
        </div>
    </div>
    <ul class="rmenu_list">
        <li><a class="page-scroll" href="#header">Home</a></li>
        <li><a class="page-scroll" href="#menu">Menu</a></li>
        <li><a class="page-scroll" href="#reservation">Reservation</a></li>
        <li><a class="page-scroll" href="#events">Events</a></li>
        <li><a class="page-scroll" href="#contact">Contact Us</a></li>
    </ul>
</nav>

<div class="cd-overlay"></div><!-- /.cd-overlay -->
<!-- Mobile Menu End -->